root{
    --primary-color: #c1440e;
    --secondary-color: #ffde59;
    --accent-color: #622e1b;
    --background-color: #e1b373;
    --text-color: #ffffff;
    --background-image: url('/static/MarsMap.jpg');
    --Ahsing: 'Ahsing', cursive;
}
body {
    background-image: url('/static/MarsMap.jpg');
    margin: 0;
}
#map {
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    box-shadow: 0px 0px 40px 26px #c1440e
}

#gameUI {
    position: absolute;
    top: 10px;
    left: 10vw;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    max-width: 350px;
    overflow: auto;
}

#gameUIHeader {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: #c1440e;
    font-family: 'Ahsing', cursive;
    font-size: 2.5em;
    margin-top: 0;
    text-align: center;
}

#mars-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px #000;
}

#game-info {
    margin-top: 1em;
    color: #ffde59;
}

#next-round {
    margin-top: 1em;
}



@font-face {
    font-family: 'Ahsing';
    src: url('/static/fonts/Ahsing.woff2') format('woff2'),
         url('/static/fonts/Ahsing.woff') format('woff'),
         url('/static/fonts/Ahsing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}