<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% block marquee %}
    <div class="marqueeContainer">
        <a href="/marsNews">
            <p>Check this out... NASA could have found signs of life on Mars! June of this year!! You Can see the pictures too.</p>
        </a>
        {% block marqueeContent %}{% endblock %}
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <div class="creditContainer"><span class="credit">Made by Team ~ The NECK with ❤️</span></div>
</body>
</html>
{% block scriptTags %}
{% endblock %}