<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="marqueeContainer"><a href=""><p>What if I told you... NASA could have found signs of life on mars! June of this year!!</a></p></div>
    {% block content %}
    {% endblock %}
    <div class="creditContainer"><span class="credit">Made by Team ~ The NECK with ❤️</span></div>
</body>
</html>
{% block scriptTags %}
{% endblock %}