{% extends "base.html" %}
{% block head %}
    <title>Mars Mapper!</title>
    {% endblock %}
    {% block marquee %}{% endblock %}
    {% block content %} 
    <div class="homeContainer">
        <h1 class="headingTitle">MARS<br>MAPPER!</h1>
        <a href="/queryForm" class="clickerTriangle"><div class="triangleButton"><span class="triangleText">Lets GO!</span></div></a>
        <div class="SecretApps">
            <a href="/secretAppList">
            <img src="/static/svgs/alien(2).svg" alt="A button that leads to secret apps!" class="exploreMore">
            </a>
    </div>
    {% endblock %}