{% extends "base.html" %}
{% block head %}
    <title>Secret Applications</title>
    <style>
        .secretAppContainer{
            display: flex;
            flex-direction: column;
            border: 2px solid black;
            background-color: rgba(255, 255, 255, 0.8);
            color: black;
        }
        .secretAppTitle{
            Font-size: 3em;
        }
        .secretAppTitle s{
            Font-size: 0.5em;
            color:black
        }
        .appList{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
        }
        .appItem{
            border: 2px solid black;
            padding: 15px;
            border-radius: 10px;
            background-color: rgba(128, 128, 128, 0.8);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="secretAppContainer">
        <h2 class="secretAppTitle">Extra <s>Secret</s> Applications</h2>


        <div class="appList">
            <div class="appItem">
                <h3 class="SecretAppName">ISS Tracker</h3>
                <p class="appDescription">Track the International Space Station in real-time and actually be able to see it from your location!!.</p>
                <a href="/tracker" class="appLink">Go to ISS Tracker</a>
            </div>
            <div class="appItem">
                <h3 class="SecretAppName">Mars Weather</h3>
                <p class="appDescription">Check the latest weather conditions on Mars, including temperature, wind speed, and atmospheric pressure.</p>
                <a href="/marsWeather" class="appLink">Go to Mars Weather</a>
            </div>
            <!-- Add more secret applications here as needed -->

{% endblock %}